body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #fff6f1;
  color: #332f2e;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
nav > p {
  cursor: pointer;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a {
	text-decoration: none;
  color: #332f2e;
}

header .col-sm-8{
	display: flex;
	justify-content: center;
  left: 50%;
}

header .col-sm-2 .menu{
	display: flex;
	justify-content: flex-start;
}

.logo img {
  display: block;
  margin: 0 auto;
}


/*Content*/
.wrapper {
  position:relative;
  padding-bottom:32.5%;
  height:0;
  overflow:hidden;
  overflow-y:scroll;
  background-color: #f5e2de;
}

.login p {cursor: pointer;}
.login .dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0px;
  left: auto;
  width: 290px;
  border-radius: 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif; 
}

.login .dropdown-menu h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  
}
.menu {
  position: relative;
  display: inline;
  cursor: pointer;
}
.menu:hover {
  cursor: pointer;
}
.menu .dropdown-menu {
  position: absolute;
  top: 25px;
  right: auto;
  left: auto;
  width: 200px;
  border-radius: 0;
  padding: 10px;
  font-family: 'Roboto', Helvetica, sans-serif; 
  background-color: #fff6f1; 
}

.menu .dropdown-menu li a {
  color: black;
  font-size: 16px;
  padding: 5px 15px;
}
.login:hover {cursor: pointer;}

.login .dropdown-menu button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a, .sub>li>a:hover {
      text-decoration: none;
      color: #332f2e;
      background-color: #f5e2de;
      background-image: -moz-linear-gradient(top, #fff6f1, #f5e2de);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff6f1), to(#f5e2de));
      background-image: -webkit-linear-gradient(top, #fff6f1, #f5e2de);
      background-image: -o-linear-gradient(top, #fff6f1, #f5e2de);
      background-image: linear-gradient(to bottom, #fff6f1, #f5e2de);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f1', endColorstr='#f5e2de', GradientType=0);
    }

.jumbotron {
	background-color: #f5e2de;
  /*height: 10.25em;*/
  position:absolute;
  width:100%;
  height:100%;
}

.jumbotron p {
    font-size: 14px;
}


.sprite {
  border-color: #2e6f6f;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding-left: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: url("/static/img/search.png") no-repeat left
}

.srch {
  padding-right: 0;
}

.no-pad {
  padding-left: 0;
}

button, .sr {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: inline-block;
  height: 40px;
  line-height: 2.75em;
  padding: 0 1.5em;
  background-color: #332f2e;
  border-radius: 1px;
  border: solid 1px #332f2e;
  color: #fff !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

a, a:hover, a:active {
  text-decoration: none;
  color: #2e6f6f;
}

.settings{
  margin-top: 2em;
}

.settings a{color: #332f2e;}


/*Table*/
.table {
  background-color:#fff6f1;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 1px solid #2e6f6f;
}

.table>thead>tr>th {
  border-bottom: 2px solid #2e6f6f;
}

.table-hover>tbody>tr:hover {
  background-color: #f5e2de;
}

/*Pagination*/
.pagination {
  margin-left: 10px;
}

/*Tabs*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
  background-color: #fff6f1;
  text-decoration: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      border: 1px solid #2e6f6f;
      border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
    border-color: #fff6f1 #fff6f1 #2e6f6f;
}

.nav-tabs {
    border-bottom: 1px solid #2e6f6f;
}


/*Nav-tabs in index*/
.nav-tabs {
  cursor: pointer;
}

/*Details pages*/
.detail {
  padding-left: 20px;
}


/*Footer*/
footer {
  font-size: 12px;
  padding: 20px 0;
  height: 50px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

