Django==1.9.8
Pillow==3.3.0
PyMySQL==0.7.6
Unidecode==0.04.19
dj-database-url==0.4.1
django-autoslug-field==0.2.3
django-nose==1.4.4
django-suit==0.2.19
gunicorn==19.6.0
mysqlclient==1.3.7
nose==1.3.7
pytils==0.3
-e git+https://github.com/simplylizz/django-slugify.git@bfb0467ba42e859a0483f60c97b706db56b70853#egg=slugify-origin/HEAD
whitenoise==3.2.1
