
{% load staticfiles %}

{% block tabs %}
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="">
						<a class="tab0" >Офшоры-Бенефициары</a>
					</li>
					<li class="active">
						<a class="tab1">Бенефициары-Активы</a>
					</li>
					<li class="">
						<a class="tab2">Офшоры-Активы</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Актив
							</th>
							<th>
								Бенефициар
							</th>
							<th>
								Холдинговая компания бенефициара
							</th>
							<th>
								Доля бенефициара в активе, %
							</th>
							<th>
								Дата актуальности
							</th>
							<th>
								Источник
							</th>
						</tr>
					</thead>
					<tbody>
					{% for off in inst_list %}
						<tr>
							<td>
								{{ forloop.counter }}
							</td>
							<td>
								{{ off.asset.asset_name }}
							</td>
							<td>
								<a href="{{ off.get_absolute_url }}">{{ off.beneficiary.ben_name }} {{ off.beneficiary.ben_lastname }}</a>
							</td>
							<td>
								{{ off.beneficiary.ben_holding }}
							</td>
							<td>
								{{ off.share }}
							</td>
							<td>
								{{ off.rel_date }}
							</td>
							<td>
								{{ off.source }}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="pagination">
    <span class="step-links">
        {% if inst_list.has_previous %}
            <a href="?page={{ inst_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><img src={% static "img/previous.png" %}></a>
        {% endif %}

        <span class="current">
            Page {{ inst_list.number }} of {{ inst_list.paginator.num_pages }}
        </span>

        {% if inst_list.has_next %}
            <a href="?page={{ inst_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><img src={% static "img/next.png" %}></a>
        {% endif %}
    </span>
	</div>
		

{% endblock %}