{% load staticfiles %}
<nav>
	<div class="login">
	  <a href="user/logout/"><img src={% static "img/logout.png" %}> Выйти</a>
	  <!-- <div class="dropdown-menu">
	    <h3>Log in</h3>
	    <form role="form">
	      <div class="form-group">
	        <input type="email" class="form-control" id="email" placeholder="Email">
	      </div>
	      <div class="form-group">
	        <input type="password" class="form-control" id="password" placeholder="Password">
	      </div>
	      <button type="submit" class="btn">Log in</button>
	      <button type="button" class="btn signup">Sign Up</button>
	    </form>
	  </div> -->
	</div>
</nav>