{% extends 'base.html' %}
{% load staticfiles %}

	{% block title %}
		<title>Offshores</title>
	{% endblock %}

	<!-- {% block menu0 %}disabled{% endblock %} -->

	{% block content %}
		<section class="jumbotron">
			<div class="container-fluid">
				<div class="row">
					<form role="form" method="GET" action="">
						<div class="col-md-11 srch">
							<input type="search" name = "offsearch" class="form-control sprite" id="Search" placeholder="Введите название офшора, страну или имя бенефициара" />
						</div>
						<div class="col-md-1 no-pad">
							<input type="submit" value="ИСКАТЬ" class="sr" />
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-12 settings"><a href="#" >Параметры поиска <img src={% static "img/settings.png" %} alt="settings"></a></div>
		</section>
	{% endblock %}